.add-task {
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    column-gap: 10px;
    min-width: 500px;
    max-width: 1000px;
    min-height: 30px;
}